fastmcp
uvicorn

bcrypt
flask
langchain
langchain-openai
pillow
pandas
dotenv

python-decouple
pyngrok 
requests

openai
opencv-python
open_clip_torch
supervision
ultralytics
sentence_transformers

google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-vision
google-cloud-storage
google-cloud-bigquery

pyodbc
flask-limiter

# -----------
llama-index
llama-index-readers-file
llama-parse

celery
pyarrow

pdf2image